@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Overpass:wght@300;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(230, 17%, 14%);
  color: hsl(0, 0%, 100%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  gap: 1em;
  width: 1000px;
  padding: 0 3em;
}

.head-smd {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  width: 100%;
}

.smd-head-social {
  font-size: 30px;
}

.smd-head-small {
  font-size: 12px;
  font-weight: 600;
}

.dark-head-small {
  font-size: 12px;
  font-weight: 600;
}

.smd-pale-color {
  color: hsl(228, 34%, 66%);
}

.switch-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.switch {
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    hsl(228, 34%, 66%),
    hsl(163, 72%, 41%)
  );
  width: 40px;
  height: 20px;
}

.switch-button {
  width: 35%;
  outline: none;
  margin: 3px 3px;
  height: 14px;
  border-radius: 100%;
  background-color: hsl(228, 28%, 20%);
  position: relative;
  border: 1px;
  cursor: pointer;
}

.animation {
  animation: switch 500ms both;
}

@keyframes switch {
  0% {
    background-color: hsl(228, 28%, 20%);
    left: 0px;
    top: 0%;
  }
  100% {
    background-color: hsl(0, 0%, 100%);
    left: 20px;
    top: 0px;
  }
}

.backward {
  animation: backward 500ms backwards;
}

@keyframes backward {
  0% {
    background-color: hsl(0, 0%, 100%);
    left: 20px;
    top: 0px;
  }
  100% {
    background-color: hsl(228, 28%, 20%);
    left: 0px;
    top: 0%;
  }
}

.smd-middle-boxes {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.middle-box {
  background-color: hsl(228, 28%, 20%);
  height: fit-content;
  width: 200px;
  text-align: center;
  line-height: 2.7em;
  border-radius: 5px;
  transition: all 200ms;
  position: relative;
  cursor: pointer;
}

.middle-box:hover {
  filter: brightness(1.15);
}

.facebook {
  --border-color: #198ff5;
}

.twitter {
  --border-color: #1ca0f2;
}

.instagram {
  --border-color: linear-gradient(90deg, #fdc468, #df4996);
}

.youtube {
  --border-color: #c4032a;
}

.facebook::before {
  content: "";
  background: var(--border-color);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 0.25rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.twitter::before {
  content: "";
  background: var(--border-color);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 0.25rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.instagram::before {
  content: "";
  background: var(--border-color);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 0.25rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.youtube::before {
  content: "";
  background: var(--border-color);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 0.25rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.logo-and-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 8px;
}

.logo {
  width: 18px;
}

.name {
  font-size: 12px;
  font-weight: 600;
}

.number {
  font-weight: 700;
  font-size: 3em;
}

.follower {
  font-size: 11px;
  letter-spacing: 5px;
  opacity: 80%;
}

.rate-and-today {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.today {
  font-size: 11px;
}

.up {
  color: hsl(163, 72%, 41%);
  font-weight: 600;
}

.down {
  color: hsl(356, 69%, 56%);
  font-weight: 600;
}

.smd-overview {
  font-size: 25px;
  padding: 2em 0 1em 0;
}

.smd-small-boxes {
  gap: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.small-box {
  background-color: hsl(228, 28%, 20%);
  height: fit-content;
  width: 200px;
  text-align: center;
  line-height: 2.7em;
  border-radius: 7px;
  transition: all 200ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  cursor: pointer;
}

.small-box:hover {
  filter: brightness(1.25);
}

.page-view {
  font-size: 12px;
  font-weight: 600;
}

.overview-number {
  font-size: 30px;
  font-weight: 600;
}

.switch-bg {
  background-image: linear-gradient(
    to right,
    hsl(230, 22%, 74%),
    hsl(230, 22%, 74%)
  );
}

.unactive {
  display: none;
}

.body-color {
  color: hsl(230, 17%, 14%);
  background-color: hsl(0, 0%, 100%);
}

.smd-lightmood {
  display: none;
}

.active {
  display: block;
}

.lightmood {
  background-color: hsl(227, 47%, 96%);
}

.lightmood:hover {
  filter: brightness(0.97);
}

.light-color {
  color: hsl(228, 12%, 44%);
}

.dark-color {
  color: hsl(230, 17%, 14%);
}

.attribution {
  display: flex;
  align-items: center;
  height: 35px;
  justify-content: center;
}

@media screen and (max-width: 990px) {
  .head-smd {
    flex-direction: column;
  }

  .first-line {
    border-bottom: 1px solid hsl(228, 12%, 44%);
    padding-bottom: 1.5em;
  }

  .switch-flex {
    padding-top: 1.5em;
    justify-content: space-between;
  }
}

@media screen and (max-width: 450px) {
  .container {
    padding: 0 1em;
  }

  .smd-head-social {
    font-size: 25px;
  }
}
